/* ESTILO DE TEXTOS */
.decoBg-1 {
    z-index: 0;
    position: absolute;
    left: -70px;
    top: -220px;
    max-width: 90vw;
}
.decoBg-2 {
    z-index: 0;
    position: absolute;
}
.decoBg-3 {
    z-index: 0;
    position: absolute;
    right: 90px;
    top: 1800px;
    opacity: 0.4;
}
.decoBg-4 {
    z-index: 0;
    position: absolute;
    right: 40px;
    top: 100vh;
    opacity: 0.6;
}
.bgTitles {
    font-family: 'Prata';
    font-size: 7.2em;
    text-transform: uppercase;
    color: $white;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}
.titleOfText {
    font-family: 'maven pro';
    font-size: 2.8em;
    color: $black;
    z-index: 2;
    position: absolute;
    top: 38px;
    left: 234px;
}
.decoText {
    position: absolute;
    left: 60px;
    top: 100px;
}
.textStyles { 
    font-family: 'spectral';
    font-size: 1.6em;
    width: 450px;
    height: 550px;
    position: absolute;
    left: 160px;
    top: 85px;
}

/* RESPONSIVE TABLET */
@media screen and (max-width: 768px) {

    .bgTitles {
        font-family: 'Prata';
        font-size: 5.5em;
        text-transform: uppercase;
        color: $white;
        z-index: 1;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .titleOfText {
        margin: -7rem;
        font-size: 2rem;
        top: 107px;
    }

    .decoText {
        position: absolute;
        left: 0px;
        top: 100px;
    }
    .textStyles { 
        font-family: 'spectral';
        font-size: 1.2em;
        width: 420px;
        height: 420px;
        position: absolute;
        left: 55px;
        top: 85px;
    }
    .decoBg-3 {
        z-index: 0;
        position: absolute;
        right: 20px;
        top: 1400px;
    }
}