//Variables 

//Font-Sizes 
$text-xlarge: 6em;
$text-large: 4em;
$text-medium: 1.8em;
$text-small: 1.6em;
$text-xsmall: 1.2em;

//Font-Styles
$fontbgTitles: 'Prata';
$fonttitles: 'Maven Pro';
$fonttext: 'Spectral';

//======Colors
$primary: #8CB858;
$secondary: #715E95;
$white: #E4E4E4;
$grey: #6C6C6C;
$black: #2B2B2B;

