#clinicoMain {
    max-width: 1220px;
    margin: auto;
/* SECCION UNO (PRODUCTOS) */
.clinicoSectionOne {
        height: 100vh;
        padding-top: 7%;
        padding-left: 2rem;
        padding-right: 2rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        gap: 15rem;
        align-content: center;
        &__text {
            position: relative;
            width: 50%;
        }
}
/* BOTON HACIA PRODUCTOS (SMARTPHONE) */
.smartProductos {
    display: none;
}

/* CAROUSEL BOOSTRAP */
.carouselCustom {
    width: 700px;
    height: 420px;
    margin: auto;
    background-color: $white;
    &__clip {
        div {
            img {
                clip-path: polygon(0 0, 33% 0, 61% 100%, 0 100%, 0% 50%);
                width: 700px;
                height: 420px;
            }
        }
    &__text {
        display: flex;

    }    
        .carousel-item {
            h3 {
                color: $black;
                font-family: 'maven pro';
            }
            p { 
                color: $black;
                font-family: 'spectral';
                font-size: 1.6em;
            }                
            .d-md-inline {
                text-align: right;
                padding: 1rem;
                gap: 1rem;
                height: 400px;
                margin-right: -90px;
                margin-left: 250px;
            }
        }
    }
}
/* SECCION DOS (PROCESOS) */
.clinicoSectionTwo {
    @include flex(column, space-around, center);
        height: 100vh;
        width: 100%;
        gap: 2rem;
        &__text {
            width: 100%;
            position: relative;
        }
        &__img {    
            display: grid;
            grid-template-columns: 25% 25% 25% 25%;
            gap: 1rem;
            padding: 2rem;
            img {
                width: 28rem;
                margin-bottom: 0px;
                max-width: 280px;
            }
            h4 {
                font-family: 'maven pro';
                font-size: $text-medium;
                color: $black;
            }
            p {
                font-family: 'spectral' ;
                font-size: $text-small;
                color: $grey;
                
            }
        }
}
/* SECCION TRES (PROTOLAB) */
.clinicoSectionThree {
    @include flex(rox, space-between, center);
    padding: 2rem;
    position: relative;
    &__img {
        width: 30%;
        .imgPlan {
            height: 400px;
            clip-path: circle(60.0% at 1% 50%);
        }
    }
    &__text {
        width: 70%;
        position: relative;
        h2 {
            font-family: 'maven pro';
            font-size: $text-large;
            color: $black;
            font-weight: 100;
        }
        img {
            padding: 1rem;
        }
        p {
            font-family: 'spectral';
            font-size: $text-small;
            color: $grey;
            padding: 1rem;
        }
        .btnContacto{
            position: absolute;
            left: 40%;
            border: none;
            border-radius: 50px;
            background-color: $secondary;
            padding: 1rem;
            transition: 400ms ease;
            font-family: 'maven pro';
            font-size: $text-small;
            color: $white;
            box-shadow: 2px 9px 28px -6px rgba(0, 0, 0, 0.31);
        }
        .btnContacto:hover {
            border: none;
            background-color: $primary;
            cursor: pointer;
        }
    }
}
}
/* =================================================================== */

/* RESPONSIVE TABLET */
@media only screen and (max-width: 768px){
    #clinicoMain {
    max-width: 760px;
    margin: auto;
    overflow: hidden;
    /* SECCION UNO (PRODUCTOS) */
        .clinicoSectionOne {
            padding-top: 0;
            gap: 1rem;
        }
        .carouselCustom {
            width: 700px;
            height: 420px;
            margin: 0px auto;
            
        }
    /* SECCION DOS (PROCESOS) */
        .clinicoSectionTwo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
        width: 100%;
        gap: 2rem;
        padding: 2rem;
        &__img{
            display: grid;
            grid-template-columns: 50% 50%;
            gap: 1rem;
            padding: 1rem;
        }
    }
    /* SECCION TRES (PROTOLAB) */
.clinicoSectionThree {
    @include flex(column, space-around, center);
    padding: 2rem;
    position: relative;
    height: 100vh;
    &__img {
        width: 80%;
        margin: 2rem;
        .imgPlan {
            height: 400px;
            clip-path: circle(39.0% at 50% 50%);
        }
    }
    &__text {
        width: 70%;
        position: relative;
        h2 {
            font-family: 'maven pro';
            font-size: $text-large;
            color: $black;
            font-weight: 100;
        }
        img {
            padding: 1rem;
        }
        p {
            font-family: 'spectral';
            font-size: $text-small;
            color: $grey;
            padding: 1rem;
        }
        .btnContacto{
            position: absolute;
            left: 40%;
            border: none;
            border-radius: 50px;
            background-color: $secondary;
            padding: 1rem;
            transition: 400ms ease;
            font-family: 'maven pro';
            font-size: $text-small;
            color: $white;
            box-shadow: 2px 9px 28px -6px rgba(0, 0, 0, 0.31);
        }
        .btnContacto:hover {
            border: none;
            background-color: $primary;
            cursor: pointer;
        }
    }
}
} 
}

/* RESPONSIVE SMARTPHONE */
@media only screen and (max-width: 414px){
    #clinicoMain {
        max-width: 360px;
        margin: auto;
        overflow: hidden;
        /* SECCION UNO (PRODUCTOS) */
            .clinicoSectionOne {
                padding-top: 40rem;
                gap: 10rem;
                z-index: 4;
                &__text {
                    position: relative;
                    width: 50%;
                    left: 80px;
                }
            }
            .carouselCustom {
                display: none;
            }
            .smartProductos {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                z-index: 2;
                &__img {
                    @include flex(column, center, center);
                    gap: 4rem;
                    div {
                        @include flex(column, center, center);
                        gap: 1rem;
                    }
                    div img {
                        width: 80%;
                    }
                    div h2 {
                        font-family: 'maven pro';
                        font-size: $text-large;
                        color: $black;
                        font-weight: 100;
                    }
                }
                &__item {
                    margin: 2rem 0px;
                    .btnContacto{
                        margin: 2rem;
                        border: none;
                        border-radius: 50px;
                        background-color: $secondary;
                        padding: 2rem;
                        transition: 400ms ease;
                        font-family: 'maven pro';
                        font-size: $text-small;
                        color: $white;
                        box-shadow: 2px 9px 28px -6px rgba(0, 0, 0, 0.31);
                    }
                    .btnContacto:hover {
                        border: none;
                        background-color: $primary;
                        cursor: pointer;
                    }
                }
            }
        /* SECCION DOS (PROCESOS) */
            .clinicoSectionTwo {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 100vh;
            width: 100%;
            margin: 80rem 0px;
            gap: 2rem;
            padding: 2rem;
            &__text {
                width: 40%;
                position: relative;
                margin-bottom: 10rem;
            }
            &__img{
                display: grid;
                grid-template-columns: 100%;
                gap: 1rem;
                padding: 1rem;
            }
            span {
                display: none;
            }
        }
        /* SECCION TRES (PROTOLAB) */
    .clinicoSectionThree {
        @include flex(column, space-around, center);
        padding: 2rem;
        position: relative;
        height: 130vh;
        margin-bottom: 24rem;
        &__img {
            width: 163%;
            margin: 2rem;
            .imgPlan {
                height: 350px;
                clip-path: circle(39.0% at 50% 50%);
            }
        }
        &__text {
            width: 70%;
            position: relative;
            h2 {
                font-family: 'maven pro';
                font-size: $text-large;
                color: $black;
                font-weight: 100;
            }
            img {
                padding: 1rem;
            }
            p {
                font-family: 'spectral';
                font-size: $text-small;
                color: $grey;
                padding: 1rem;
            }
            .btnContacto{
                position: absolute;
                left: 40%;
                border: none;
                border-radius: 50px;
                background-color: $secondary;
                padding: 1rem;
                transition: 400ms ease;
                font-family: 'maven pro';
                font-size: $text-small;
                color: $white;
                box-shadow: 2px 9px 28px -6px rgba(0, 0, 0, 0.31);
            }
            .btnContacto:hover {
                border: none;
                background-color: $primary;
                cursor: pointer;
            }
        }
    }
    }
} 
