#indexMain {
    max-width: 1220px;
    margin: auto;
/* SECCIÓN UNO (INTRO) */    
    .indexSectionOne {  
        position: relative;
        height: 100vh;
        padding: 2rem;
        @include flex(row, center, center);
        &__texto {
            position: absolute;
            left: 2rem;
            top: 10rem;
            z-index: 1;
            h2 {
                font-family: 'Prata';
                font-size: 7.2em;
                color: $grey; 
                padding-bottom: 2rem;
                z-index: 1;
            }
            h1 {
                font-family: 'maven pro';
                font-size: 2.8em;
                color: $black;
                z-index: 0;
            }
            ul {
                @include flex(row, flex-start, center);
                padding: 1rem;
                gap: 4rem;
                z-index: 1;
            }
        }
        &__img {
            img {
                position: absolute;
                right: 2rem;
                bottom: 10em;
                z-index: 0;
                width: 600px;
            }
        }
    }
/* SECCIÓN DOS (CRANEOPLASTIA) */
    .indexSectionTwo {
        height: 100vh;
        margin-top: 15%;
        padding-left: 2rem;
        padding-right: 2rem;
        position: relative;
        @include flex(row, none, flex-start);
        &__text {
            position: relative;
            width: 60%;
        }
    }
/* SECCIÓN TRES (PRODUCTOS) */
    .indexSectionThree {
        height: 100vh;
        margin-top: 15%;
        padding-left: 2rem;
        padding-right: 2rem;
        position: relative;
        @include flex(column, flex-start, space-around);
        gap: 25rem;
        &__text {
            position: relative;
            width: 50%;
        }
    }
/* CAROUSEL BOOSTRAP */
    .carouselCustom {
        width: 700px;
        height: 420px;
        margin: auto;
        background-color: $white;
        &__clip {
            div {
                img {
                    clip-path: polygon(0 0, 33% 0, 61% 100%, 0 100%, 0% 50%);
                    width: 700px;
                    height: 420px;
                }
            }
        &__text {
            display: flex;

        }    
            .carousel-item {
                h3 {
                    color: $black;
                    font-family: 'maven pro';
                }
                p { 
                    color: $black;
                    font-family: 'spectral';
                    font-size: 1.6em;
                }                
                .d-md-inline {
                    text-align: right;
                    padding: 1rem;
                    gap: 1rem;
                    height: 400px;
                    margin-right: -90px;
                    margin-left: 250px;
                }
            }
        }
    }
/* BOTON PRODUCTOS */
    .indexSectionThree {
        &__bottom {
            display: none;
        }
    }    
/* SECCION CUATRO (PRENSA) */
    .indexSectionFour {
        height: 100vh;
        margin-top: 10%;
        padding-left: 2rem;
        padding-right: 2rem;
        gap: 10rem  ;
        position: relative;
        @include flex(column, space-around, none);
        &__text {
            position: relative;
        }
    }
/* CARD BOOSTRAP */
    .card-group { 
        align-self: center;
        gap: 3rem;
        .card {
            max-width: 290px;
            height: 360px;
            border: none;
            box-shadow: 0px 3px 12px 0px rgba(235, 235, 235, 1);
        }
        .card-title {
            color: $primary;
            font-family: 'maven pro';
            font-size: 1.6em;
            transition: 400ms ease;
        }   
        .card-title:hover {
            color: $secondary;
            
        }
        .card-text {
            font-family: 'spectral';
            font-size: 1.2em;
            padding: 1rem;
        }
    }

/* =================================================================== */
}
/* RESPONSIVE TABLET */
@media only screen and (max-width: 768px){
    /* SECCIÓN UNO (INTRO) */  
#indexMain { 
    margin: auto;
    max-width: 768px !important;
    .indexSectionOne {  
        @include flex(column, center, center);  
        height: 70vh;
        overflow: hidden;
        &__texto {
            top: 8rem;
            h2 {
                font-size: 5.8rem;
            }
            h1 {
                font-size: 2em;
            }
        }
        &__img {
            img {
                width: 500px;
            }
        }
    }
    /* SECCIÓN DOS (CRANEOPLASTIA) */
    .indexSectionTwo {
        @include flex(row, space-between, flex-start);
        height: 60vh;
            &__img {
               img {
                   align-content: center;
                   width: 250px;
               }
            }
    }
    .carouselCustom {
        margin: 3rem auto;
    }
    /* SECCIÓN TRES (PRODUCTOS) */
    .indexSectionThree {
        height: 60vh;
        padding-left: 2rem;
        padding-right: 2rem;
        position: relative;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: space-around;
        gap: 15rem;
        &__text {
            position: relative;
            width: 50%;
        }
    }
    /* SECCION CUATRO (PRENSA) */
    .indexSectionFour {
        height: 60vh;
    }
}
} 

/* RESPONSIVE SMARTPHONE */
@media only screen and (max-width: 414px){
    /* SECCIÓN UNO (INTRO) */  
#indexMain { 
    margin: auto;
    max-width: 375px !important;
    overflow: hidden;
    .indexSectionOne {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        padding: 0;
        &__texto {
            top: 8rem;
            h2 {
                font-size: 3.1rem;
                padding: 0;
            }
            h1 {
                font-size: 1.8em;
            }
            ul li img{
                max-width: 7rem;
            }
        }
        &__img {
            img {
                width: 320px;
            }
        }
    }
    /* SECCIÓN DOS (CRANEOPLASTIA) */
    .indexSectionTwo {
        @include flex(column, space-between, center);
        height: 100vh;
        margin-top: 0;
            &__img {
                img {
                    left: -85px;
                    position: absolute;
                    bottom: -40px;
                }
            }
    }

    /* SECCIÓN TRES (PRODUCTOS) */
    .indexSectionThree {
        display: none; 
    }
    /* SECCION CUATRO (PRENSA) */
    .indexSectionFour {
        height: 300vh;
        margin-top: 10%;
        padding: 5rem;
        gap: 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    /* CARD BOOSTRAP */
        .card-group { 
            align-self: center;
            gap: 3rem;
            .card {
                max-width: 290px;
                height: 360px;
                border: none;
                box-shadow: 0px 3px 12px 0px rgba(235, 235, 235, 1);
            }
            .card-title {
                color: $primary;
                font-family: 'maven pro';
                font-size: 1.6em;
                transition: 400ms ease;
            }   
            .card-title:hover {
                color: $secondary;
                
            }
            .card-text {
                font-family: 'spectral';
                font-size: 1.2em;
                padding: 1rem;
            }
        }
}
} 
